/* App.css */
.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.tabs-container {
  overflow-x: hidden;
  margin-right: 20px;
}

.zaui-tabs-tabbar {
  overflow-x: scroll;
  background-color: #00000000;
}
.zaui-tabs-tabbar-item {
  background-color: #d6d6d6;
  margin-right: 8px;
  border-radius: 50px;
  min-width: 80px;
  padding: 10px;
  text-align: center;
}

.zaui-tabs-tabbar-item.zaui-tabs-tabbar-item-active {
  font-weight: 500;
  color: #00009e;
  background-color: #acd8ff;
  width: 69px !important;
  position: relative;
}

